/** --------------------------------
  Original Tweetdeck CSS Stylesheet
---------------------------------**/

@import url("https://ton.twimg.com/tweetdeck-web/web/css/app-dark.3b6bb8d70a.css");

/** --------------------
  MaterialDeck CSS
---------------------**/
body {
    background-color: #4FC3F7!important;
    background-image: radial-gradient(#03A9F4, #01579B)!important;
    -webkit-transition: all .2s!important;
    -moz-transition: all .2s!important;
    transition: all .2s!important;
}

/** --------------------
  HEX COLOUR VALUES
---------------------**/
/**
#FFF - White
transparent - Transparent
#E91E63 - 500 Pink
#00E676 - A400 Green
#29B6F6 - 400 LightBlue
#03A9F4 - 500 LightBlue
#2D92D6 - 600 LightBlue(CUSTOM)
#039BE5 - 600 LightBlue
#0288D1 - 700 LightBlue
#FAFAFA - 50 Grey
#EEEEEE - 200 Grey
#E0E0E0 - 300 Grey
#BDBDBD - 400 Grey
#424242 - 800 Grey
**/

/** ------------------
  SPRITESHEET
-------------------**/
.hearty .sprite {
	background-image: url("../img/spritesheet.png");
}

/** ------------------
  COLOURS
-------------------**/

.column-number,
.column-nav-link:after,
.is-new .column-nav-updates {
    color: transparent!important;
}

.app-search-fake,
.column-nav-item,
.column-nav-link,
.column-head-title > span,
.column-title-back,
.column-header,
.column-header-temp,
.column-title > .txt-mute,
.js-header-action > .js-column-title > .txt-mute,
.column-header-link,
.nav-user-info .username,
.app-nav-link,
.app-navigator,
.app-nav-tab,
.lst-launcher a,
.lst-launcher > .is-disabled a,
.attribution .txt-sub-antialiased,
.attribution .txt-mute .txt-sub-antialiased,
.icon-unread-color,
.list-placeholder,
.title-content > .txt-mute,
.is-new .column-type-icon,
span.attribution.txt-mute.txt-sub-antialiased,
.dropdown-menu [data-action],
.non-selectable-item,
.is-inverted-dark .account-link,
.is-inverted-dark {
  	color: #FFF!important;
}

.js-column-back > .column-head-title:hover {
    color: #EEEEEE!important;
}

.hearty .is-favorite .icon-favorite-toggle,
.hearty .icon-favorite-color {
	color: #E91E63;
}

.is-retweet .icon-retweet-toggle,
.txt-r-medium-green {
	color: #00E676;
}

/** ------------------
  BACKGROUND-COLOURS
-------------------**/

.js-column-back > .column-head-title:hover,
.scroll-conversation,
.numbered-badge,
.is-new .column-nav-updates {
    background-color: #FFF!important;
}

.app-header,
.app-title,
.column-nav-item,
.column-number,
.column-header,
.column-header-temp,
.app-navigator,
.btn-on-blue,
.lst-launcher a,
.lst-launcher > .is-disabled a,
.inline-reply,
.btn-positive,
.column-options .button-tray {
    background-color: #212121!important;
}

.btn-positive-alt,
.btn-fav.s-favorited,
.s-following .follow-btn,
.bg-r-light-gray,
.btn-positive.is-disabled,
.popover {
    background-color: #616161!important;
}

.numbered-badge,
.btn-compose,
.compose,
.attach-compose-buttons .tweet-button,
.app-search-input,
.lst-group .selected,
.app-search-fake,
.is-new .column-nav-updates,
.dropdown-menu,
.column-options,
.is-options-open .column-settings-link {
  background-color: #424242!important;
}

.app-columns-container,
.column,
.is-inverted-dark .stream-item,
.js-column-scroller.js-dropdown-container.column-scroller.scroll-v,
.js-detail-container.js-dropdown-container.column-scroller.scroll-v.scroll-conversation,
.tweet-detail-wrapper {
    background: #757575 !important;
}

.stream-item {
 	background-color: transparent;
}

/** ------------------
  BORDERS
-------------------**/

.column-scroller .scroll-v .scroll-styled-v,
.stream-item.js-stream-item,
.tweet-detail-wrapper {
    border-radius: 0!important;
}

.popover,
input,
textarea,
select,
.uneditable-input {
    border-radius: 0!important;
}

.numbered-badge,
.is-new .column-nav-updates {
	 border-radius: 200px;
}

.with-nav-border-t:before {
    border-top: 2px solid #FFF!important;
}

.lst-launcher a,
.lst-launcher > .is-disabled a,
.column-scroller,
.column,
.numbered-badge,
.stream-item,
.tweet-detail-wrapper,
.facet-type,
.facet-type:last-child,
.rpl textarea {
  border: none!important;
}

.detail-view-inline {
  border-top: none!important;
}

.is-unread > .item-box {
	border-top: 10px solid #212121;
}

.is-new .column-header {
  border-bottom: 4px solid #212121;
}

.caret-inner {
  border-bottom: 6px solid #616161;
}

/** ------------------
  MARGINS
-------------------**/

.column {
    margin: 0!important;
}

.app-columns-container {
    margin: -6px!important;
}

.tweet-footer.cf {
    margin-top: 20px !important;
}

.margin-r--13 {
    margin-right: 25px !important;
}

/** ------------------
  PADDING
-------------------**/
.app-columns {
  padding: 6px 0 0 6px;
}

/** ------------------
  SHADOWS
-------------------**/

.app-search-input,
.app-search-fake,
.btn-compose,
.dropdown-menu,
.rpl textarea {
    box-shadow: none!important;
}

.column.is-focused {
	box-shadow: 0 0 0 5px #424242;
}

/** ------------------
  FONT
-------------------**/

.column-head-title {
	text-transform: uppercase;
}

/** ------------------
  SCROLL BARS
-------------------**/

::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(#424242, #424242)!important;
	border-radius: 0!important;
}
::-webkit-scrollbar-thumb:hover {
	background: -webkit-linear-gradient(#616161, #616161)!important;
}
::-webkit-scrollbar-track:vertical {
 	border: none;
}

/** ------------------
  OTHER
-------------------**/

.js-column-drag-handle .is-movable .column-drag-handle .pull-left .sprite .sprite-drag-vertical {
    color: transparent!important;
}

.js-column-back > .column-head-title {
    text-decoration: none!important;
}

.js-column-header > .js-column-drag-handle,
.js-column-header > .column-drag-handle,
.js-column-header > .sprite,
.js-column-header > .sprite-drag-vertical {
    background-image: none!important;
}

.column-header-link:hover {
    color: #FAFAFA!important;
}

.app-nav-link:hover {
    color: #FAFAFA!important;
}

.icon,
.stream-item,
.column-header {
    -webkit-transition: all .2s!important;
    -moz-transition: all .2s!important;
    transition: all .2s!important;
}

.list-placeholder {
    text-shadow: none!important;
}

.needs-scroll-bottom-offset.scroll-styled-h {
    bottom: 0!important;
}

.stream-item:hover {
    -webkit-box-shadow: 0 10 37 -20 rgba(0, 0, 0, 1)!important;
    -moz-box-shadow: 0 10 37 -20 rgba(0, 0, 0, 1)!important;
    box-shadow: 0 10 37 -20 rgba(0, 0, 0, 1)!important;
  	/**---------------------------------
  		WIP HOVER TRANSLATE UPWARDS
    ------------------------------------
  	-moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px) **/
}

/** --------------------------
	LOADING WHEELS [BETA]
-------------------------- **/

.js-signin-ui img {
  display: none!important;
}

.js-signin-ui {
  content: url("../img/LoadingWheel-White-128.svg")!important;
}

.spinner-large, .spinner-small, .spinner-small-trans {
  background-color: transparent;
  background: none;
  content: url("../img/LoadingWheel-White-128.svg");
}

.is-inverted-dark .spinner-small, .is-inverted-dark .spinner-large {
  background: none;
  content: url("../img/LoadingWheel-White-128.svg");
}

.gap-chirp-spinner {
  background-image: url("../img/LoadingWheel-White-128.svg")
}

.spinner-button-icon-spinner {
  background: none;
  content: url("../img/LoadingWheel-White-128.svg");
}

.med-embeditem {
  background: url("../img/LoadingWheel-White-128.svg") no-repeat 50% 50%;
}

/** --------------------------
	ICON FONT OVERWRITE [WIP]
-------------------------- **/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../MaterialIcons-Regular.eot); /* For IE6-8 */
  src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
  font-family: 'Material Icons';
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.icon-compose:before {
	font-family: 'Material Icons';
	content: "mode_edit";
}
.icon-search:before {
	font-family: 'Material Icons';
	content: "search";
}
.icon-home:before {
	font-family: 'Material Icons';
	content: "home";
}
.icon-notifications:before {
	font-family: 'Material Icons';
	content: "notifications";
}
.icon-activity:before {
	font-family: 'Material Icons';
	content: "rss_feed";
}
.icon-user:before {
	font-family: 'Material Icons';
	content: "person";
}
.icon-message:before {
	font-family: 'Material Icons';
	content: "forum";
}
.icon-arrow-r-double:before {
	font-family: 'Material Icons';
	content: "chevron_right";
}
.icon-arrow-l-double:before {
	font-family: 'Material Icons';
	content: "chevron_left";
}
.icon-arrow-r:before {
	font-family: 'Material Icons';
	content: "chevron_right";
}
.icon-arrow-l:before {
	font-family: 'Material Icons';
	content: "chevron_left";
}
.icon-user-switch:before {
	font-family: 'Material Icons';
	content: "supervisor_account";
}
.icon-settings:before {
	font-family: 'Material Icons';
	content: "settings";
}
.icon-sliders:before {
	font-family: 'Material Icons';
	content: "list";
}
.icon-plus:before {
	font-family: 'Material Icons';
	content: "add";
}
.icon-content:before {
  	font-family: 'Material Icons';
 	content: "format_quote";
}
.icon-info:before {
  	font-family: 'Material Icons';
 	content: "info";
}
.icon-image:before {
  	font-family: 'Material Icons';
 	content: "insert_photo";
}
.icon-trending:before {
  	font-family: 'Material Icons';
 	content: "whatshot";
}
.icon-follow:before {
  	font-family: 'Material Icons';
 	content: "person_add";
}
.icon-custom-timeline:before {
  	font-family: 'Material Icons';
 	content: "collections";
}
.icon-list:before {
  	font-family: 'Material Icons';
 	content: "list";
}
.icon-schedule:before {
  	font-family: 'Material Icons';
 	content: "access_time";
}
.icon-close:before {
  	font-family: 'Material Icons';
 	content: "close";
}
.icon-clear-timeline:before {
  	font-family: 'Material Icons';
 	content: "clear_all";
}
.icon-check:before {
  	font-family: 'Material Icons';
 	content: "check";
}
.icon-camera:before {
  	font-family: 'Material Icons';
 	content: "add_a_photo";
}
.icon-mark-read:before {
  	font-family: 'Material Icons';
 	content: "markunread_mailbox";
}
.icon-mark-read:before {
  	font-family: 'Material Icons';
 	content: "markunread_mailbox";
}
.icon-compose-dm:before {
	font-family: 'Material Icons';
	content: "border_color";
}
.icon-popout:before {
	font-family: 'Material Icons';
	content: "open_in_new";
}
.icon-compose-list:before {
	font-family: 'Material Icons';
	content: "view_list";
}
.icon-compose-minigrid:before {
	font-family: 'Material Icons';
	content: "view_module";
}
.icon-compose-grid:before {
	font-family: 'Material Icons';
	content: "account_box";
}
.icon-retweet:before {
	font-family: 'Material Icons';
	content: "repeat";
}
.icon-reply:before {
	font-family: 'Material Icons';
	content: "reply";
}
.hearty .icon-favorite:before {
	font-family: 'Material Icons';
	content: "favorite";
}
.icon-more:before {
	font-family: 'Material Icons';
	content: "more_horiz";
}
.icon-play-video {
  font-family: 'Material Icons';
	content: "play_circle_outline";
}

/** --------------------------
	TWEET CARDS
-------------------------- **/

.js-stream-item-content.item-box {
    margin: 10px !important;
    margin-bottom: 0 !important;
    padding: 20px !important;
    background: #424242 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 2px!important;
}

.detail-view-inline-text {
    background: #FAFAFA!important;
    border: 5px solid #FAFAFA!important;
}
