/** --------------------------------
  IMPORTS
---------------------------------**/

@import url("https://ton.twimg.com/tweetdeck-web/web/css/app-dark.3b6bb8d70a.css");
@import url("materialDeck.min.css");

/** --------------------
  HEX COLOUR VALUES
---------------------**/
/**
#FFF - White
transparent - Transparent
#F50057 - 500 Pink
#00E676 - A400 Green
#ECEFF1 - 50 Grey
#B0BEC5 - 200 Grey
#90A4AE - 300 Grey
#78909C - 400 Grey
#607D8B - 500 Grey
#546E7A - 600 Grey
#455A64 - 700 Grey
#37474F - 800 Grey
#263238 - 900 Grey
**/

/** ------------------
  COLOURS
-------------------**/

.column-number,
.column-nav-link:after,
.is-new .column-nav-updates,
.btn-positive > .is-disabled,
.column-drag-handle,
.mdl-drag-handle > .sprite-drag {
  color: transparent!important;
}

.app-search-fake,
.column-nav-item,
.column-nav-link,
.column-head-title > span,
.column-title-back,
.column-header,
.column-header-temp,
.column-title > .txt-mute,
.js-header-action > .js-column-title > .txt-mute,
.column-header-link,
.nav-user-info .username,
.app-nav-link,
.app-navigator,
.app-nav-tab,
.lst-launcher a,
.lst-launcher > .is-disabled a,
.attribution .txt-sub-antialiased,
.attribution .txt-mute .txt-sub-antialiased,
.icon-unread-color,
.list-placeholder,
.title-content > .txt-mute,
.is-new .column-type-icon,
span.attribution.txt-mute.txt-sub-antialiased,
.dropdown-menu [data-action],
.non-selectable-item,
.is-inverted-dark .account-link,
.is-inverted-dark > .column-title,
.is-inverted-dark .btn-alt,
.is-inverted-dark .btn-alt > span .label,
.is-inverted-dark p,
.mdl-header,
.keyboard-shortcut-title,
.keyboard-shortcut-definition {
  color: #FFF!important;
}

.text-like-keyboard-key {
  color: #37474F;
}

.column-header-link:hover,
.app-nav-link:hover {
  color: #ECEFF1!important;
}

.chirp-container .stream-item:not(:hover):not(.is-selected-tweet) .tweet-action {
  color: #8899a6
}

a.link-complex > span,
a.url-ext {
  color: #03A9F4!important;
}

.js-column-back > .column-head-title:hover {
  color: #B0BEC5!important;
}

.hearty .is-favorite .icon-favorite-toggle,
.hearty .icon-favorite-color {
	color: #F50057!important;
}

.is-retweet .icon-retweet-toggle,
.txt-r-medium-green {
	color: #00E676!important;
}

/** ------------------
  BACKGROUND-COLOURS
-------------------**/

.js-column-back > .column-head-title:hover,
.numbered-badge,
.is-new .column-nav-updates {
  background-color: #FFF!important;
}

.detail-view-inline-text {
  background: #ECEFF1!important;
}

.app-header,
.app-title,
.column-nav-item,
.column-number,
.column-header,
.column-header-temp,
.app-navigator,
.btn-on-blue,
.lst-launcher a,
.lst-launcher > .is-disabled a,
.inline-reply,
.btn-positive,
.column-options .button-tray,
.dropdown-menu .is-selected,
.toggle-switch-input:checked+.toggle-switch-label:before,
.mdl-header,
.btn-alt {
  background-color: #263238!important;
}

.btn-positive-alt,
.btn-fav.s-favorited,
.s-following .follow-btn,
.bg-r-light-gray,
.btn-positive.is-disabled,
.popover {
  background-color: #455A64!important;
}

.numbered-badge,
.btn-compose,
.compose,
.bg-r-light-gray,
.attach-compose-buttons .tweet-button,
.app-search-input,
.lst-group .selected,
.app-search-fake,
.is-new .column-nav-updates,
.dropdown-menu,
.column-options,
.is-options-open .column-settings-link,
.scroll-conversation,
.list-item.is-selected,
.js-stream-item-content.item-box {
  background-color: #37474F!important;
}

.app-columns-container,
.column,
.is-inverted-dark .stream-item,
.js-column-scroller.js-dropdown-container.column-scroller.scroll-v,
.js-detail-container.js-dropdown-container.column-scroller.scroll-v.scroll-conversation,
.tweet-detail-wrapper,
.mdl-content {
  background: #546E7A !important;
}

.stream-item,
.drawer-header:after,
.account-row-separator-b:after {
 	background-color: transparent!important;
}

.js-column-header > .column-drag-handle,
.mdl-drag-handle > .sprite-drag {
  background-image: none!important;
}

/** ------------------
  BORDERS
-------------------**/

.column-scroller .scroll-v .scroll-styled-v,
.stream-item.js-stream-item,
.tweet-detail-wrapper,
.toggle-switch-label:before,
.toggle-switch-label:after,
.accs .acc-avatar,
.accs li,
.btn {
  border-radius: 0!important;
}

.popover,
input,
textarea,
select,
.uneditable-input,
.mdl {
  border-radius: 0!important;
}

.numbered-badge,
.is-new .column-nav-updates,
.avatar {
	border-radius: 200px!important;
}

.with-nav-border-t:before {
  border-top: 2px solid #FFF!important;
}

.lst-launcher a,
.lst-launcher > .is-disabled a,
.column-scroller,
.column,
.numbered-badge,
.stream-item,
.tweet-detail-wrapper,
.facet-type,
.facet-type:last-child,
.rpl textarea,
.drawer-header,
.compose-header,
.search-input .is-focused,
.btn-alt,
.mdl-content,
input {
  border: none!important;
}

.detail-view-inline {
  border-top: none!important;
}

.is-unread > .item-box {
	border-top: 10px solid #263238!important;
}

.is-new .column-header {
  border-bottom: 4px solid #263238!important;
}

.js-stream-item-content.item-box {
  border-radius: 2px!important;
}

.detail-view-inline-text {
  border: 5px solid #ECEFF1!important;
}

.caret-inner {
  border-bottom: 6px solid #455a64;
}

/** ------------------
  SHADOWS
-------------------**/

.app-search-input,
.app-search-fake,
.btn-compose,
.dropdown-menu,
.rpl textarea,
.mdl,
.toggle-switch-label:before {
    box-shadow: none!important;
}

.column.is-focused {
	box-shadow: 0 0 0 5px #37474F!important;
}

.stream-item:hover,
.js-stream-item-content.item-box,
.dropdown-menu {
    -webkit-box-shadow: 0px 10px 40px -20px rgba(0,0,0,1)!important;
    -moz-box-shadow: 0px 10px 40px -20px rgba(0,0,0,1)!important;
    box-shadow: 0px 10px 40px -20px rgba(0,0,0,1)!important;
}

.js-stream-item-content.item-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

/** ------------------
  TEXT
-------------------**/

.column-head-title {
	text-transform: uppercase!important;
}

.js-column-back > .column-head-title {
    text-decoration: none!important;
}

.list-placeholder {
    text-shadow: none!important;
}

/** ------------------
  SCROLL BARS
-------------------**/

::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(#37474F, #37474F)!important;
	border-radius: 0!important;
}
::-webkit-scrollbar-thumb:hover {
	background: -webkit-linear-gradient(#455A64, #455A64)!important;
}
::-webkit-scrollbar-track:vertical {
 	border: none;
}

/** --------------------------
	HOVER TRANSLATE UPWARDS [WIP]
-------------------------- **/

/**.stream-item:hover,
.js-stream-item-content.item-box {
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px)
}**/

/** --------------------------
	LOADING WHEELS [BETA]
-------------------------- **/

.js-signin-ui img {
  display: none!important;
}

.js-signin-ui {
  content: url("../img/LoadingWheel-White-128.svg")!important;
}

.spinner-large, .spinner-small, .spinner-small-trans {
  background-color: transparent;
  background: none;
  content: url("../img/LoadingWheel-White-128.svg")!important;
}

.is-inverted-dark .spinner-small, .is-inverted-dark .spinner-large {
  background: none;
  content: url("../img/LoadingWheel-White-128.svg")!important;
}

.gap-chirp-spinner {
  background-image: url("../img/LoadingWheel-White-128.svg")!important;
}

.spinner-button-icon-spinner {
  background: none;
  content: url("../img/LoadingWheel-White-128.svg")!important;
}!important

.med-embeditem {
  background: url("../img/LoadingWheel-White-128.svg") no-repeat 50% 50%!important;
}

.mdl > .is-loaded {
  background: none!important;
}
