/** --------------------------------
  IMPORTS
---------------------------------**/

@import url("https://ton.twimg.com/tweetdeck-web/web/css/app-light.2db79c379b.css");
@import url('materialDeck.min.css');

/** --------------------
  HEX COLOUR VALUES
---------------------**/
/**
#FFF - White
transparent - Transparent
#F50057 - 500 Pink
#00E676 - A400 Green
#29B6F6 - 400 LightBlue
#03A9F4 - 500 LightBlue
#039BE5 - 600 LightBlue
#0288D1 - 700 LightBlue
#FAFAFA - 50 Grey
#EEEEEE - 200 Grey
#E0E0E0 - 300 Grey
#BDBDBD - 400 Grey
#424242 - 800 Grey
**/

/** ------------------
  COLOURS
-------------------**/

.column-number,
.column-nav-link:after,
.is-new .column-nav-updates,
.column-drag-handle,
.mdl-drag-handle > .sprite-drag {
    color: transparent!important;
}

.app-search-fake,
.column-nav-item,
.column-nav-link,
.column-head-title > span,
.column-title-back,
.column-header,
.column-header-temp,
.column-title > .txt-mute,
.js-header-action > .js-column-title > .txt-mute,
.column-header-link,
.nav-user-info .username,
.app-nav-link,
.app-navigator,
.app-nav-tab,
.lst-launcher a,
.lst-launcher > .is-disabled a,
.attribution .txt-sub-antialiased,
.attribution .txt-mute .txt-sub-antialiased,
.icon-unread-color,
.list-placeholder,
.title-content >
.txt-mute,
.is-new .column-type-icon,
span.attribution.txt-mute.txt-sub-antialiased,
.column-title,
.account-summary-text > .account-link,
.startflow-link,
.txt-r-text-link,
.mdl-header {
  	color: #FFF!important;
}

.column-header-link:hover,
.app-nav-link:hover {
    color: #FAFAFA!important;
}

a.link-complex > span,
a.url-ext,
.is-options-open .column-settings-link {
  color: #03A9F4!important;
}

.js-column-back > .column-head-title:hover {
    color: #03A9F4!important;
}

.hearty .is-favorite .icon-favorite-toggle,
.hearty .icon-favorite-color {
	color: #F50057!important;
}

.is-retweet .icon-retweet-toggle,
.txt-r-medium-green {
	color: #00E676!important;
}

/** ------------------
  BACKGROUND-COLOURS
-------------------**/

.js-column-back > .column-head-title:hover,
.scroll-conversation,
.numbered-badge,
.is-new .column-nav-updates,
.js-stream-item-content.item-box,
.mdl-content  {
  background-color: #FFF!important;
}

.detail-view-inline-text {
  background: #FAFAFA!important;
}

.app-header,
.app-title,
.column-nav-item,
.column-number,
.column-header,
.column-header-temp,
.app-navigator,
.btn-on-blue,
.lst-launcher a,
.lst-launcher > .is-disabled a,
.inline-reply,
.btn-positive,
.dropdown-menu .is-selected,
.toggle-switch-input:checked+.toggle-switch-label:before,
.lst-group .selected,
.mdl-header {
  background-color: #03A9F4!important;
}

.btn-positive-alt,
.btn-fav.s-favorited,
.s-following .follow-btn,
.bg-r-light-gray,
.btn-positive.is-disabled {
  background-color: #039BE5!important;
}

.numbered-badge,
.btn-compose,
.compose,
.bg-r-light-gray,
.attach-compose-buttons .tweet-button,
.app-search-input,
.app-search-fake,
.is-new .column-nav-updates,
.list-item.is-selected  {
  background-color: #0288D1!important;
}

.app-columns-container,
.column,
.js-column-scroller.js-dropdown-container.column-scroller.scroll-v,
.js-detail-container.js-dropdown-container.column-scroller.scroll-v.scroll-conversation,
.tweet-detail-wrapper {
  background: #EEEEEE !important;
}

.stream-item,
.drawer-header:after,
.account-row-separator-b:after {
 	background-color: transparent!important;
}

.js-column-header > .column-drag-handle,
.mdl-drag-handle > .sprite-drag {
  background-image: none!important;
}

/** ------------------
  BORDERS
-------------------**/

.column-scroller .scroll-v .scroll-styled-v,
.stream-item.js-stream-item,
.tweet-detail-wrapper,
.toggle-switch-label:before,
.toggle-switch-label:after,
.accs .acc-avatar,
.accs li,
.btn {
  border-radius: 0!important;
}

.popover,
input,
textarea,
select,
.uneditable-input {
  border-radius: 0!important;
}

.numbered-badge,
.is-new .column-nav-updates,
.avatar {
	border-radius: 200px!important;
}

.with-nav-border-t:before {
  border-top: 2px solid #FFF!important;
}

.lst-launcher a,
.lst-launcher > .is-disabled a,
.column-scroller,
.column,
.numbered-badge,
.stream-item,
.tweet-detail-wrapper,
.rpl textarea,
.drawer-header,
.compose-header,
.mdl-content,
input,
.accs li {
  border: none!important;
}

.detail-view-inline {
  border-top: none!important;
}

.is-unread > .item-box {
	border-top: 10px solid #29B6F6!important;
}

.is-new .column-header {
  border-bottom: 4px solid #0288D1!important;
}

.js-stream-item-content.item-box {
  border-radius: 4px;
}

.detail-view-inline-text {
  border: 5px solid #FAFAFA!important;
}

.reply-triangle {
  border-color: transparent transparent #03a9f4 transparent;
}

/** ------------------
  SHADOWS
-------------------**/

.app-search-input,
.app-search-fake,
.btn-compose,
.rpl textarea,
.mdl,
.toggle-switch-label:before {
    box-shadow: none!important;
}

.column.is-focused {
	box-shadow: 0 0 0 5px #424242!important;
}

.stream-item:hover,
.js-stream-item-content.item-box,
.dropdown-menu {
    -webkit-box-shadow: 0px 10px 40px -20px rgba(0,0,0,1)!important;
    -moz-box-shadow: 0px 10px 40px -20px rgba(0,0,0,1)!important;
    box-shadow: 0px 10px 40px -20px rgba(0,0,0,1)!important;
}

.js-stream-item-content.item-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

/** ------------------
  TEXT
-------------------**/

.column-head-title {
	text-transform: uppercase!important;
}

.js-column-back > .column-head-title {
    text-decoration: none!important;
}

.list-placeholder {
    text-shadow: none!important;
}

/** ------------------
  SCROLL BARS
-------------------**/

::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(#E0E0E0, #E0E0E0)!important;
	border-radius: 0!important;
}
::-webkit-scrollbar-thumb:hover {
	background: -webkit-linear-gradient(#BDBDBD, #BDBDBD)!important;
}
::-webkit-scrollbar-track:vertical {
 	border: none!important;
}

/** --------------------------
	HOVER TRANSLATE UPWARDS [WIP]
-------------------------- **/

/**.stream-item:hover,
.js-stream-item-content.item-box {
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px)
}**/

/** --------------------------
	LOADING WHEELS [BETA]
-------------------------- **/

.js-signin-ui img {
  display: none!important;
}

.js-signin-ui {
  content: url("../img/LoadingWheel-White-128.svg")!important;
}

.spinner-large, .spinner-small, .spinner-small-trans {
  background-color: transparent;
  background: none;
  content: url("../img/LoadingWheel-Blue-128.svg")!important;
}

.is-inverted-dark .spinner-small, .is-inverted-dark .spinner-large {
  background: none;
  content: url("../img/LoadingWheel-White-128.svg")!important;
}

.gap-chirp-spinner {
  background-image: url("../img/LoadingWheel-Blue-128.svg")!important;
}

.spinner-button-icon-spinner {
  background: none;
  content: url("../img/LoadingWheel-White-128.svg")!important;
}!important

.med-embeditem {
  background: url("../img/LoadingWheel-White-128.svg") no-repeat 50% 50%!important;
}

.mdl > .is-loaded {
  background: none!important;
}
