/** --------------------------
	CORE CSS OVERWRITE
-------------------------- **/
body {
    background-color: #4FC3F7!important;
    background-image: radial-gradient(#03A9F4, #01579B)!important;
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    font-weight: 400;
    -webkit-transition: all .2s!important;
    -moz-transition: all .2s!important;
    transition: all .2s!important;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../fonts/Roboto400latin.woff);
}

/** ------------------
  SCROLLBAR WIDTH
-------------------**/

.mdl.s-profile::-webkit-scrollbar,.scroll-styled-v::-webkit-scrollbar,.scroll-v::-webkit-scrollbar,.lst-launcher::-webkit-scrollbar,.mtd-nav-drawer::-webkit-scrollbar {
	width: 6px;
	pointer-events:all;
}

/** ------------------
  SPRITESHEET
-------------------**/
.hearty .sprite {
	background-image: url("../img/spritesheet.png")!important;
}

/** ------------------
  MARGINS
-------------------**/

.column {
  margin: 0!important;
}

.app-columns-container {
  margin: -6px!important;
}

.tweet-footer.cf {
  margin-top: 20px !important;
}

.margin-r--13 {
  margin-right: 25px !important;
}

.js-stream-item-content.item-box {
  margin: 10px !important;
  margin-bottom: 0 !important;
}

/** ------------------
  PADDING
-------------------**/

.app-columns {
  padding: 6px 6px 0 6px!important;
}

.padding-vm {
  padding-top: none!important;
}

.js-stream-item-content.item-box {
  padding: 20px !important;
}

#settings-modal > div > .mdl-header  {
  padding-bottom: 30px;
}

/** ------------------
  TRANSITION
-------------------**/

.icon,
.stream-item,
.column-header {
    -webkit-transition: all .2s!important;
    -moz-transition: all .2s!important;
    transition: all .2s!important;
}

/** ------------------
  TEXT
-------------------**/

.lst-group {
  text-align: center;
}

/** --------------------------
	ICON FONT OVERWRITE [WIP]
-------------------------- **/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../MaterialIcons-Regular.eot); /* For IE6-8 */
  src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
  font-family: 'Material Icons';
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.icon-compose:before {
	font-family: 'Material Icons';
	content: "mode_edit";
}
.icon-search:before {
	font-family: 'Material Icons';
	content: "search";
}
.icon-home:before {
	font-family: 'Material Icons';
	content: "home";
}
.icon-notifications:before {
	font-family: 'Material Icons';
	content: "notifications";
}
.icon-activity:before {
	font-family: 'Material Icons';
	content: "rss_feed";
}
.icon-user:before {
	font-family: 'Material Icons';
	content: "person";
}
.icon-message:before {
	font-family: 'Material Icons';
	content: "forum";
}
.icon-arrow-r-double:before {
	font-family: 'Material Icons';
	content: "chevron_right";
}
.icon-arrow-l-double:before {
	font-family: 'Material Icons';
	content: "chevron_left";
}
.icon-arrow-r:before {
	font-family: 'Material Icons';
	content: "chevron_right";
}
.icon-arrow-l:before {
	font-family: 'Material Icons';
	content: "chevron_left";
}
.icon-user-switch:before {
	font-family: 'Material Icons';
	content: "supervisor_account";
}
.icon-settings:before {
	font-family: 'Material Icons';
	content: "settings";
}
.icon-sliders:before {
	font-family: 'Material Icons';
	content: "more_vert";
}
.icon-plus:before {
	font-family: 'Material Icons';
	content: "add";
}
.icon-content:before {
  	font-family: 'Material Icons';
 	content: "format_quote";
}
.icon-info:before {
  	font-family: 'Material Icons';
 	content: "info";
}
.icon-image:before {
  	font-family: 'Material Icons';
 	content: "insert_photo";
}
.icon-trending:before {
  	font-family: 'Material Icons';
 	content: "whatshot";
}
.icon-follow:before {
  	font-family: 'Material Icons';
 	content: "person_add";
}
.icon-custom-timeline:before {
  	font-family: 'Material Icons';
 	content: "collections";
}
.icon-list:before {
  	font-family: 'Material Icons';
 	content: "list";
}
.icon-schedule:before {
  	font-family: 'Material Icons';
 	content: "access_time";
}
.icon-close:before {
  	font-family: 'Material Icons';
 	content: "close";
}
.icon-clear-timeline:before {
  	font-family: 'Material Icons';
 	content: "clear_all";
}
.icon-check:before {
  	font-family: 'Material Icons';
 	content: "check";
}
.icon-camera:before {
  	font-family: 'Material Icons';
 	content: "add_a_photo";
}
.icon-mark-read:before {
  	font-family: 'Material Icons';
 	content: "done_all";
}
.icon-compose-dm:before {
	font-family: 'Material Icons';
	content: "mode_edit";
}
.icon-popout:before {
	font-family: 'Material Icons';
	content: "open_in_new";
}
.icon-compose-list:before {
	font-family: 'Material Icons';
	content: "view_list";
}
.icon-compose-minigrid:before {
	font-family: 'Material Icons';
	content: "view_module";
}
.icon-compose-grid:before {
	font-family: 'Material Icons';
	content: "account_box";
}
.icon-retweet:before {
	font-family: 'Material Icons';
	content: "repeat";
}
.icon-reply:before {
	font-family: 'Material Icons';
	content: "reply";
}
.hearty .icon-favorite:before {
	font-family: 'Material Icons';
	content: "favorite";
}
.icon-more:before {
	font-family: 'Material Icons';
	content: "more_horiz";
}
.icon-play-video:before {
  font-family: 'Material Icons';
	content: "play_circle_filled";
}
.icon-protected:before {
  font-family: 'Material Icons';
	content: "lock_outline";
}
.icon-share:before {
  font-family: 'Material Icons';
	content: "share";
}
